<div id="projects-list" style="display: flex; gap: 2rem;">
    <h2><i class="fa-solid fa-utensils"></i><a href="/food">Food</a></h2>
    <h2><i class="fa-solid fa-syringe"></i><a href="/embroidery">Embroidery</a></h2>
    <h2><i class="fa-solid fa-menorah"></i><a href="/candles">Candles</a></h2>
    <h2 style="background-color: rgba(198, 16, 162, 0.664);"><i class="fa-solid fa-briefcase"></i><a href="/all">All</a></h2>
</div>

<div id="access">
    <h2 id="<%= user._id %>" class="to get id"><i class="fa-solid fa-user"></i><%= user.userName %></h2>
    <h2><a href="/logout">Log out</a></h2>
</div>