<p style="    background: gainsboro;
text-align: center;
position: absolute;
width: 100%;
right: 0;
padding: .4rem;">
    &copy; Copyright 2024 Supporting Community. All rights reserved.
</p>
</body>
</html>