<%- include('./partials/header.ejs') %>

<div id="homepage">
    <nav>
        <h1>Let's support each other!</h1>
        <div id="access">
            <h2><a href="/login">Log in</a></h2>
            <h2><a href="/signup">Sign up</a></h2>
        </div>
    </nav>
    
    <div id="content-homepage">
        <p style="font-weight: bold">Here you can publish your own work to become more known to citizens
            in your country and provide support for other people's projects
        and the ability to communicate with them.</p>
        
        <h2>Are you ready to publish your own business?</h2>
        <h2>Are you ready to see other people's projects?</h2>
        <h3 style="background: none;">If yes! please <a href="/login" style="font-weight: bold;">LOG IN</a></h3>
    </div>
</div>
</body>
</html>